* {
  box-sizing: border-box;
}

:root {
  --color-dark-cyan: hsl(185, 75%, 39%);
  --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --color-dark-grayish-blue: hsl(227, 10%, 46%);
  --color-dark-gray: hsl(0, 0%, 59%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--color-dark-cyan);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50vw - 978px) calc(50vh - 978px), 50vw 50vh;
}
/* Start text */
.name,
.stat h2,
.age {
  font-size: 18px;
  font-weight: 700;
}

.age,
h3,
p {
  color: var(--color-dark-grayish-blue);
  font-weight: 400;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 12px;
}
/* End text */
/* Start header */
img {
  display: block;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border: solid 5px white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.head {
  width: 100%;
  height: 140px;
  background-color: aquamarine;
  background-image: url(../images/bg-pattern-card.svg);
  border-top-left-radius: 20px;
  -webkit-border--top-left-radius: 20px;
  -moz-border--top-left-radius: 20px;
  -ms-border--top-left-radius: 20px;
  -o-border--top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-border--top-right-radius: 20px;
  -moz-border--top-right-radius: 20px;
  -ms-border--top-right-radius: 20px;
  -o-border--top-right-radius: 20px;
}
/* End header */
/* Start personal information */
.personal-info {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 70px;
}
.name,
.age {
  margin: 0;
}
/* End personal information */
/* Start statistics */
.statistics {
  display: flex;
  justify-content: space-around;
}
.stat {
  text-align: center;
}
.stat p {
  margin-top: -10px;
}
/* End statistics */
/* Start card */
.card {
  width: 350px;
  height: 380px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: white;
}

hr {
    color: #ededed;
}
/* End card */

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
